.container{
    width: 1200px;
    padding: 80px 0;
    margin: auto;
    text-align: center;
    background-color: #C7E3EE;
}
span{
    color: #ffffff;
    font-size: 12px;
    font-family: Roboto;
    font-size: 40px;
}

form{
    margin: 0 320px;
    .uploadImg{
        overflow: hidden;
        position: relative;
        display: inline-block;
        background-color:rgb(252, 252, 252);
        color:$primary-color;
        text-align:center;
        border-radius:10px;
        padding:10px 30px;
        margin: 20px 0;
        font-size:26px;
        input{
            position: absolute;
            opacity: 0;
            filter: alpha(opacity=0); 
            //驅動上傳照片 filter:是ie的濾鏡屬性 alpha：濾鏡 opacity：是透明度 範圍0 - 100
        }
    }
    label{
        font-family: Roboto;
        font-size: 24px;
        color: #FFFFFF;
        display: block;
        margin: 20px 0;
    }
    .labelText ,textarea{
        width: 550px;
        display: block;
        border-width:0 ;
        padding: 5px 0 30px 5px;
        margin: 20px 0;
        outline: none;
    }
    .btn{
        width: 200px;
        height: 50px;
        font-size: 26px;
        font-family: 'Roboto';
        font-style: normal;
        background-color: #ffffff;
        color:$primary-color;
        border: 0.5px solid #C7E3EE;
        border-radius: 25px;
        // display: block;
        // text-align: center; 單純讓button內的字體置中
    }
}