@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

p {
  color: $text-color;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

@mixin pad() {
  @media (min-width: 768px) {
    @content;
  }
}

a {
  text-decoration: none;
  display: block;
}

body>iframe+iframe {
  /*
莫名其妙出現的 iframe 標籤出現
類似一個透明的牆，覆蓋整個 app ，導致無法按按鈕，會沒反應
*/
  background-color: blue !important;
  left: -5000px !important;

}